body{
	background: black;
	padding: 0px;
	overflow-x: hidden;
}
.container1{
	height: 90vh;
	display: flex;
	/* padding-top: 100px; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.con{
	top: 80px;
	/* left: 100px; */
	background: black;
	width: 800px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	box-shadow: 5px 5px 20px red;
	border-radius: 5px;
}
.setnav{
	margin-top: 50px;
	display:flex;
}
.settab{
	border-radius: 10px;
	background-color: black;
	padding: 10px 10px;
	border: white 2px solid;
	display: inline;
}
.leftbox{
	margin-top: 50px;
	/* position: absolute; */
	/* left: 50px; */
	/* width: 23%; */
	background: black;
	/* box-shadow: 2px 5px 20px red;
	border: 1em solid white; */
	display: inline-block;
	border-radius: 5px;
}
header a{
	list-style: none;
	padding: 35px;
	color: white;
	font-size: 1.1em;
	display: block;
	transition: all .3s ease-in-out;
	border-radius: 25px;
}
header a:hover{
	color: red;
	cursor: pointer;
	transform: scale(1.2);
	background: white;
}
header a:first-child{
	margin-top: 7px;
}
header a.active{
	color: red;
}
.rightbox{
	width: 60%;
	margin-left: 10%;
	

}
.tabshow{
	transition: all .5s ease-in;
	width: 80%;
}
h1{
	font-size: "Montserrat", sans-serif;
	color:  white;
	padding-top: 25PX;
}
h2{
	top: 10px;
	color: white;
	font-family: "Roboto" sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	margin-left: 5px;
	margin-top: 10px;
}
.input, p{
	border: 0;
	border-bottom: 1px solid red;
	width: 80%;
	font-family: "Montserrat", sans-serif;
	font-size: .7em;
	padding: 7px 00;
	color: red;
	outline: none;
	background-color:black;
}
span{
	font-size: .7em;
	color: #777;
}
.btn{
	font-family: "Roboto" sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	border: 0;
	color: black;
	background: red;
	padding: 7px 15px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1.0);
	cursor: pointer;
	margin-top: 15px;
}
.tabshow{
	display: none;
}

@media (max-width: 700px) {
	.setnav{
		flex-direction: column;
	}
	.leftbox{
		margin-top: 400px;
	}
}